*{
    box-sizing: border-box;
}
.navBarCv{
    margin-left: auto;
}
.show .nav-item{
    width: 100%;
    text-align: center;
}
.show .navBarCv{
    width: 100%;
    align-items: center;
}
.navBarColor{
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}
.navBarColor.active{
    background-color: #bfb8b882;
}
.spanDownloadCv{
    font-size: 1em;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}

.imageHeader{
    background-image: url(/assets/imageHeader.png);    
    height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.logoCv{
    border: 1px solid white;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    background-color: white;
}
.nav-link:hover {
    font-weight: 700;
    border-radius: 5px;
}
.show{
    display: flex;
    justify-content: center;
}
.sidebarCv{
    width: 16.66666667%;
}
.imgNav{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1em;
    border: black solid 1px;
}
.heightCalculate{
    height: calc(100vh - 58px);
    padding-top: 58px;
}
.imageCv img{
    height: 12em;
    width: 12em;
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 0.5em;
}
.aboutDescription{
    margin-top: 1em;
}
.expTitle{
    color: red;
}
.experienceDescription{
    margin-top: 1em;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.skillsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skillItem{
    width: 8em;
    margin: .5em 0px;
}
.imgSkill{
    height: 36px;
    width: 36px;
}
.title{
    font-size: 2em;
}
.education{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}
.experience{
    border-left: 1.5px solid black;
    padding-left: 1.5em;
}
.educationDescription{
    color: rgb(170, 170, 171);
}

@media (max-width: 768px) {
    .experience{
        border-left: 0;
        padding-left: 0em;
    }
}