*{
    box-sizing: border-box;
}
.navbar-toggler:focus{
    box-shadow: none !important;
}
.navbarCV{
    display: flex;
    text-align: center;
    justify-content: end;
}
.nav-link:hover {
    background-color: aqua;
    font-weight: 700;
    border-radius: 5px;
}
.show{
    display: flex;
    justify-content: center;
}
.imgNav{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1em;
    border: black solid 1px;
}
.heightCalculate{
    height: calc(100vh - 58px);
    padding-top: 58px;
}
.aboutme{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}
.imageCv img{
    height: 12em;
    width: 12em;
    border-radius: 50%;
    border: 2px solid black;
    margin-top: 0.5em;
}
.aboutDescription{
    margin-top: 1em;
}
.expTitle{
    color: red;
}
.experienceDescription{
    margin-top: 1em;

}
.hardSkillsList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hardSkillItem{
    width: 8em;
    margin: .5em 0px;
}
.title{
    font-size: 2em;
}
.education{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
}
.experience{
    border-left: 1.5px solid black;
    padding-left: 1.5em;
}
.educationDescription{
    color: rgb(170, 170, 171);
}

@media (max-width: 768px) {
    .experience{
        border-left: 0;
        padding-left: 0em;
    }
}